{
  "students": [
    {
      "name": "Yara Aghaghiri",
      "naam": "یارا عقاقیری",
      "darsId": 16,
      "email": "yazdan.aghaghiri@gmail.com",
      "code": 8318
    },
    {
      "name": "Delsa Aghaghiri",
      "naam": "دلسا عقاقیری",
      "darsId": 11,
      "email": "yazdan.aghaghiri@gmail.com",
      "code": 8173
    },
    {
      "name": "kjkj",
      "naam": "sd",
      "darsId": 0,
      "email": "sds",
      "code": 0
    }
  ]
}