{
  "students": [
    {
      "name": "Yara Aghaghiri",
      "naam": "یارا عقاقیری",
      "darsId": "5",
      "email": "yazdan.aghaghiri@gmail.com",
      "code": 8318
    },
    {
      "name": "Delsa Aghaghiri",
      "naam": "دلسا عقاقیری",
      "darsId": "10",
      "email": "yazdan.aghaghiri@gmail.com",
      "code": 8173
    }
  ]
}